<%= render :partial => 'layouts/navbar' %>

<%= render :partial => 'layouts/slider' %>
<div class="site-wrapper">

                       
            <div class="container text-center">
                <!-- Section General Title -->
                <div class="general-title">
                    <h2>Modern Mind</h2>        
                    <div class="title-devider"></div>
                </div>
                <div class="row">
                  <!-- Section Description -->
                  <div class="col-md-10 col-md-offset-1">
                    <p>Modern Mind is a global platform for playing Exquisite Corpse, the Surrealist drawing game. For those unfamiliar, Exquisite Corpse aims to create a wild collection of drawings and spark new avenues of thought. This is done where each contributor draws in sequence by being allowed to see only the end of what the previous person contributed. The outcome is a collection of the increasingly surreal and an increasingly fun time.</p>
                    <br><br><br>      
                  </div>          
                </div><!-- /row -->       
            </div><!-- /container -->                   
            <!-- End Who We Are -->

                        <!-- Projects -->            
            <div class="container-fluid projects padding-top" style="background: #282828;">
                <div class="row">

                    <!-- Project Item (image, link and description for your project) -->
                    <div class="col-sm-6">
                        <div class="project-inner">
                            <a href="project-inner.html">  
                                <!-- Image -->                  
                               
                                <%= render :partial => 'layouts/slider', id:"slider-2" %>                
                                <div class="project-caption">
                                    <!-- Title and Date -->
                                    <div class="project-details">
                                        <p><i class="fa fa-plus fa-lg"></i></p>     
                                        <h3>Imaginary Landscapes</h3>
                                        <p><small>2013/08</small></p>                                               
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>                                

                    <!-- Project Item (image, link and description for your project) -->
                    <div class="col-sm-6">
                        <div class="project-inner">
                            <a href="project-inner.html">    
                                <!-- Image -->                
                                <%= render :partial => 'layouts/slider', id:"slider-3" %>                  
                                <div class="project-caption">
                                    <!-- Title and Date -->
                                    <div class="project-details">
                                        <p><i class="fa fa-plus fa-lg"></i></p>
                                        <h3>Hands</h3>
                                        <p><small>2013/02</small></p>                                                
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>                            

                                      

                </div><!-- /row -->
            </div><!-- /container -->


            <!-- See All Our Work Button -->
            <div class="all-projects text-center">
                <a href="projects.html" class="btn orange-btn">
                    More Great Minds
                </a>
            </div>
                            
            <!-- End Projects -->

            <!-- Our Services -->            
            <div class="container padding-top text-center"> 
                <!-- Section General Title -->       
                <div class="general-title">
                    <h2>How To Play</h2>        
                    <div class="title-devider"></div>
                </div>  
                <!-- Section Description -->             
                <p>Here at Modern Mind we call the collections "Minds" and each drawing a "Neuron". The scrolling drawing above is a good example of a "mind"...so are the two below.</p>    
                <div class="row padding-top"> 

                <%= image_tag "image2.jpg", id:"slider-image-1"%>

                <div class="row padding-top">  

                    <!-- Services Item (icon, title and description for your service) -->                        
                    <div class="col-sm-4 col-md-4">  
                        <!-- Icon -->
                        <a href="services.html">                                
                            <i class="fa fa-home fa-3x"></i>     
                        </a> 
                        <!-- Title -->  
                        <div class="service-title">      
                            <h3>Create a Private Mind</h3> 
                        </div>   
                        <!-- Description -->                  
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
                    </div>

                    <!-- Services Item (icon, title and description for your service) -->
                    <div class="col-sm-4 col-md-4">
                        <!-- Icon -->  
                        <a href="services.html">
                            <i class="fa fa-building fa-3x"></i>          
                        </a> 
                        <!-- Title -->
                        <div class="service-title">
                            <h3>Contribute a Neuron</h3>
                        </div>
                        <!-- Description -->
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
                    </div>                        

                    <!-- Services Item (icon, title and description for your service) -->
                    <div class="col-sm-4 col-md-4">
                        <!-- Icon -->
                        <a href="services.html">
                            <i class="fa fa-file-text-o fa-3x"></i> 
                        </a>
                        <!-- Title -->
                        <div class="service-title">
                            <h3>Create a Public Mind</h3>
                        </div>
                        <!-- Description -->
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>                 
                    </div>                          

                </div><!-- /row -->

                <!-- View All Services Button -->  
                <div class="padding-top padding-bottom">  
                    <a href="services.html" class="btn black-btn">
                        Get Started
                    </a>
                </div>

            </div><!-- /container -->
            <!-- End Our Services -->
                
            <!-- From Blog -->
            <section class="bg-color padding-top text-center">
                <div class="container">
                    <!-- Section General Title -->
                    <div class="general-title">
                        <h2>Open Public Minds</h2>
                        <div class="title-devider"></div>
                    </div>
                    <ul>
                                          <% @incomplete_minds.each do |mind| %>
                                            
                                            <div class="col-xs-6 col-msm-4">
                                                <div class="thumbnail blog-post">
                                                   
                                                    <!-- Title and Description -->
                                                    <div class="caption">
                                                        <div class="blog-inner-title">
                                                            <a href="blog-inner.html">
                                                                <h3><%= mind.name %></h3>
                                                            </a>
                                                        </div>
                                                                               
                                                        <div class="blog-meta">
                                                            
                                                            <span><i class="fa fa-comment"></i> <h3>5 upvotes</h3></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                              <% end %>
                                    </ul>
                </div><!-- /container -->

                <!-- All Posts Button -->
                <div class="text-center padding-top padding-bottom">
                    <a href="blog.html" class="btn black-btn">All Public Minds</a>
                </div>                
            </section>
            <!-- End From Open Public Minds -->



        </div>


<strong> completed minds </strong>
<ul>
  <% @completed_minds.each do |mind| %>
  <li>
  <%= link_to mind.name, mind_path(mind) %>
</li>
  <% end %>


</ul>
<br>
<strong> incomplete minds </strong>



