<ul>
  <% index = 1 %>
  <%@neurons.each do |neuron|%>
    <li> 
    <% @user = User.find(neuron.user_mind.user_id) %>
    <a href="#neuron-<%=index%>" class="smoothScroll"><%= neuron.name %></a> made by <%= @user.name %>

    </li>
    <% index += 1 %>
  <%end%>


</ul>


<table>
  <tr>
  <% i = 1 %>
  <%@neurons.each do |neuron|%>
      <td id = "neuron-<%=i%>" >
      <img src = "data:image/png;base64,<%=neuron.image%>"> <br> <br><br><br><br><br>
      <% i += 1 %>
      </td>
  <%end%>
    
  </tr>

</table>
