<h1>Listing minds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minds.each do |mind| %>
      <tr>
        <td><%= mind.name %></td>
        <td><%= link_to 'Show', mind %></td>
        <td><%= link_to 'Edit', edit_mind_path(mind) %></td>
        <td><%= link_to 'Destroy', mind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mind', new_mind_path %>
