
FUCK YOU <%=@user.name%>


<%= form_for(@mind) do |f| %>
  <%=f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit :class => "create_mind" %>
  <%end%>

<ul>
    <strong> incomplete minds </strong>
  <% @incomplete.each  do |mind| %>
  <li>
    <%=link_to mind.name, mind%>
  </li>
  <%end%>

</ul>

<ul >
  <strong> complete minds </strong>
 <% @complete.each  do |mind| %>
  <li>
  <%=link_to mind.name, mind%>
  </li>
  <%end%>



</ul>