FUCK YOU <%=@user.name%>

<%= form_for(@mind) do |f| %>
  <%=f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
  <%end%>

<ul>

  <% @minds.uniq.each  do |mind| %>
  <li>
  <%=link_to mind.name, mind%>
  </li>
  <%end%>

</ul>