
 <%=@user.name%>


<%= form_for(@mind) do |f| %>
  <%=f.label :name %>
  <%= f.text_field :name %><br>
  
 <%= f.label :public, "I want my mind to be public"%><br>
    <%= f.label :public, "Yes" %>
    <%= f.radio_button :public, true, :checked => true  %>
    <%= f.label :public, "No" %>
    <%= f.radio_button :public, false%><br>
   
    <%= f.label :user_tokens, "Users" %> <br>
    <%= f.text_field :user_tokens %>

  <%= f.submit %>
  <%end%>
  <br>
<ul>
    <strong> developing minds </strong>
  <% @incomplete.each  do |mind| %>
  <li>
    <%=link_to mind.name, mind%>
  </li>
  <%end%>

</ul>

<ul >
  <strong> complete minds </strong>
 <% @complete.each  do |mind| %>
  <li>
  <%=link_to mind.name, mind%>
  </li>
  <%end%>
</ul>

