
<h1>Listing neurons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @neurons.each do |neuron| %>
      <tr>
        <td><%= neuron.name %></td>
        <td><%= link_to 'Show', neuron %></td>
        <td><%= link_to 'Edit', edit_neuron_path(neuron) %></td>
        <td><%= link_to 'Destroy', neuron, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neuron', new_neuron_path %>
