<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <title>ModernMind</title>
          <%= csrf_meta_tags %>
          <%= stylesheet_link_tag    'application', media: 'all' %>
          <%= javascript_include_tag 'application' %>
          <%= javascript_include_tag 'drawingcanvas', {type:"text/processing", :"data-processing-target" =>"processing-canvas"} %>
          <%= javascript_include_tag 'mindlogo', {type:"text/processing", :"data-processing-target" =>"mind-logo"} %>

          <%= analytics_init if Rails.env.production? %>

        <!-- Meta Tags -->
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon-->
        <link rel="icon" type="image/png" href="assets/img/favicon.ico">

        
    </head>
    <body>

    <%= yield %>

</body>
</html>


