<!DOCTYPE html>
<html>
<head>
  <title>Modernmind</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'drawingcanvas', {type:"text/processing", :"data-processing-target" =>"processing-canvas"} %>

  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'ModernMind', root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/about">About</a></li>
            <li><a href="/greatminds">Great Minds</a></li>
            <li><a href="/publicminds">Public Minds</a></li>
            <li><a href="/about">Private Minds</a></li>
            <% if logged_in? %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to current_user.name, user_path(current_user) %></li>
                <li><img src = <%= current_user.image%>></li>

                <li><%= link_to "Log Out", signout_path %></li>
            <% else %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Log in with Facebook", "auth/facebook" %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="clr"></div>

<%= yield %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places" %>
  <%= javascript_include_tag 'application' %>
</body>
</html>